<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-nav rounded">
    <th:block th:replace="~{/fragments/nav}"></th:block>
    </nav>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add product</span></h1>
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur rounded" th:method="post" th:action="@{/products/add}" th:object="${productAddBindingModel}">
        <h4 th:if="${alreadyExist}" class="text-center bg-dark text-danger">Product with that name already exist</h4>
        <div class="form-group">
            <div class="label-holder textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2 text-white">Name</label>
            </div>
            <input  th:errorclass="alert-danger" th:field="*{name}" type="text" class="form-control" id="name" name="name"/>
            <small th:each="e : ${#fields.errors('name')}" th:text="${e}" > Name error</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="description" class="h4 mb-2">Description</label>
            </div>
            <textarea th:field="*{description}" th:errorclass="alert-danger" type="text" class="form-control" id="description" name="description"></textarea>
            <small th:each="e : ${#fields.errors('description')}"  th:text="${e}"  class="text-danger">Description error message</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="neededBefore" class="h4 mb-2">Before</label>
            </div>
            <input  th:errorclass="alert-danger" th:field="*{neededBefore}"  type="datetime-local" class="form-control" id="neededBefore" name="neededBefore"/>
            <small th:each="e : ${#fields.errors('neededBefore')}"  th:text="${e}" class="text-danger">Needed before date error</small>
        </div>
        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="price" class="h4 mb-2">Price</label>
            </div>
            <input  th:errorclass="alert-danger" th:field="*{price}"  type="number" step="0.1" class="form-control" id="price" name="price"/>
            <small th:each="e : ${#fields.errors('price')}"  th:text="${e}" class="text-danger">Price error message</small>
        </div>
        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Category</label>
            </div>
            <select class="browser-default custom-select" id="category" name="category">
                <option value="">Select category</option>
				<option th:errorclass="alert-danger" th:field="*{category}" th:each="c : ${T(exam2020.app.models.entity.CategoryName).values()}" th:text="${c}" th:value="${c}" >Food</option>

            </select>
            <small th:each="e : ${#fields.errors('category')}"  th:text="${e}" class="text-danger">Category error message</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add product</button>
        </div>
    </form>
</main>

<footer class="footer bg-transparent  py-2">
    <th:block th:replace="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
